<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.herokuapp.AllTestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Login_validdata</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddCheckBox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Login_Invaliddata</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RemoveCheckBox</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
