<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="638263">  <td>17/03/12 14:38:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestCases.AddCheckBox()[pri:0, instance:com.herokuapp.AllTestCases@2cb2fc20]">AddCheckBox</td> 
  <td>main@2038105753</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>17/03/12 14:38:31</td>   <td>7426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestCases.Login_Invaliddata()[pri:0, instance:com.herokuapp.AllTestCases@2cb2fc20]">Login_Invaliddata</td> 
  <td>main@2038105753</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>17/03/12 14:38:48</td>   <td>24639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestCases.Login_validdata()[pri:0, instance:com.herokuapp.AllTestCases@2cb2fc20]">Login_validdata</td> 
  <td>main@2038105753</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>17/03/12 14:38:50</td>   <td>26541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTestCases.RemoveCheckBox()[pri:0, instance:com.herokuapp.AllTestCases@2cb2fc20]">RemoveCheckBox</td> 
  <td>main@2038105753</td>   <td></td> </tr>
</table>
